@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #0e7490;
    --hero-bg: #0b1220;
    --light-bg: #f8fafc;
    --text-primary: #0f172a;
    --text-secondary: #334155;
  }
}

@layer utilities {
  .font-dm-serif {
    font-family: "DM Serif Display", serif;
  }

  .font-plus-jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}
